{% load random_color %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Kyiv Polygon</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>

    <script src="https://s3-eu-west-1.amazonaws.com/bernatskyys/admin/maps.google.polygon.containsLatLng.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <script>
    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 50.4501, lng: 30.5234},
          // mapTypeId: google.maps.MapTypeId.TERRAIN
        });



          {% for poke in pokemons %}
              var marker = new google.maps.Marker({
                    position: new google.maps.LatLng({{ poke.latitude }}, {{ poke.longitude }}),
                    map: map,
                    icon: "{{ poke.image }}" 
                });
          {% endfor %}



    }
    </script>

        <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE5gs5HocjA7siM5zfOagnxR1zapM1WEY&callback=initMap">
    </script>

  </body>
</html>