{% load random_color %}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Kyiv Polygon</title>
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAE5gs5HocjA7siM5zfOagnxR1zapM1WEY">
    </script>
    <script src="https://s3-eu-west-1.amazonaws.com/bernatskyys/admin/maps.google.polygon.containsLatLng.js"></script>
  </head>
  <body>
    <div id="map"></div>

    <script>
        {% for player in players %}
        var bigdata{{ forloop.counter }} = [
            {% for point in player.points.all %}
                {lng:{{ point.lon }}, lat: {{ point.lat }}},
            {% endfor %}
        ];
        {% endfor %}

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 11,
          center: {lat: 50.4501, lng: 30.5234},
          mapTypeId: google.maps.MapTypeId.TERRAIN
        });


        {# comment #} 
        {% for city in cities %}
          var city_coordinates{{ forloop.counter }} = [
              {% for point in city.points.all %}
              {lng:{{ point.lon }}, lat: {{ point.lat }}},
              {% endfor %}
          ];

          // Construct the polygon.
          var City{{ forloop.counter }} = new google.maps.Polygon({
            paths: city_coordinates{{ forloop.counter }},
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35
          });
          City{{ forloop.counter }}.setMap(map);
        {% endfor %}
        {# endcomment #} 

        var marker, i;

        {# comment #} 
        {% for player in players %}
        for (i = 0; i < bigdata{{ forloop.counter }}.length; i++) {
              marker = new google.maps.Marker({
                  position: new google.maps.LatLng(bigdata{{ forloop.counter }}[i]['lat'], bigdata{{ forloop.counter }}[i]['lng']),
                  map: map,
                  
                  icon: "http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|{% random_color  %}" 
              });
        }
        {% endfor %}
        {# endcomment #} 

        // "For displaying as polygons"
        {% comment %} 
        {% for player in kyiv_points %}
        var player{{ forloop.counter }} = new google.maps.Polygon({
          paths: bigdata{{ forloop.counter }},
          strokeColor: '#{% random_color  %}',
          strokeOpacity: 0.8,
          strokeWeight: 2,
          fillColor: '#{% random_color  %}',
          fillOpacity: 0.35
        });
        player{{ forloop.counter }}.setMap(map);
        {% endfor %}
        {% endcomment %} 

    </script>
  </body>
</html>